<app-filter-select></app-filter-select>
<mat-paginator [length]="pets?.count"
               [pageSize]="this.itemsPrPage"
               [pageSizeOptions]="items"
               showFirstLastButtons="true"
               (page) = "test($event)"
               [pageIndex]="this.currentPage">
</mat-paginator>
<ul *ngIf="pets">
  <li *ngFor="let pet of pets.list">
    <a routerLink="/pets/{{pet.id}}">{{pet.id}}, {{pet.name}}</a>
    <button routerLink="/pet-update/{{pet.id}}">Update</button>
    <button (click)="delete(pet.id)">Delete</button>
  </li>
</ul>
<h4 *ngIf="!pets">Loading.... </h4>
<button routerLink="/pet-add">Add pet</button>
<app-pagination></app-pagination>
